.bundle
solr/data
db/*.qlite3
log/*.log
tmp/**/*
config/database.yml
tmp/*
public/javascripts/backbone/**/**/*.js
public/javascripts/backbone/*.js
public/javascripts/backbone/collections/
public/javascripts/backbone/models/
doc/api
doc/app
*.swp
*.swo
*.un~
*˜
.DS_Store
schema.rb
.tags
emails/*
public/uploads/*
public/images/twitter_auth.png
public/javascripts/backbone/libs/
public/javascripts/spin.js
public/javascripts/utility.js
public/stylesheets/admin/ie.css
public/stylesheets/admin/ie6.css
public/stylesheets/admin/print.css
public/stylesheets/admin/screen.css
public/stylesheets/admin/theme.css
public/stylesheets/app/ie.css
public/stylesheets/app/ie6.css
public/stylesheets/app/layout.css
public/stylesheets/app/screen.css
public/stylesheets/app/theme.css
public/stylesheets/embed_form.css
public/stylesheets/formtastic_changes.css
spec/javascripts/backbone/
